# Ignore MacOS-specific files
.DS_Store

# Ignore virtual environment
.venv

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore output files
*.aux
*.log
*.pdf
# Ignore temporary files and backups
*.docx
*.aux
*.log
*.out
*.synctex(busy)
*.pdf
~$*